<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<seznamStanic celkovyPocet="400">
  <kraj nazevKraje="Olomoucký kraj" webidKraje="17276">
    <stanice nazevStanice="Uhelná, Nové Vilémovice" webidStanice="37680695"/>
    <stanice nazevStanice="Hoštejn" webidStanice="20706730"/>
    <stanice nazevStanice="Hanušovice" webidStanice="26331466"/>
    <stanice nazevStanice="Bělá pod Pradědem, Filipovice" webidStanice="20233037"/>
    <stanice nazevStanice="Šerák" webidStanice="2540088"/>
    <stanice nazevStanice="Olomouc-Holice" webidStanice="307436"/>
    <stanice nazevStanice="Paseka" webidStanice="20706786"/>
    <stanice nazevStanice="Šumperk" webidStanice="307433"/>
    <stanice nazevStanice="Javorník" webidStanice="307426"/>
    <stanice nazevStanice="Dubicko" webidStanice="20706727"/>
    <stanice nazevStanice="Přerov" webidStanice="24928113"/>
    <stanice nazevStanice="Kozlov" webidStanice="307437"/>
    <stanice nazevStanice="Velké Losiny" webidStanice="20706780"/>
    <stanice nazevStanice="Dřevohostice" webidStanice="26847059"/>
    <stanice nazevStanice="Protivanov" webidStanice="307443"/>
    <stanice nazevStanice="Šternberk" webidStanice="20706789"/>
    <stanice nazevStanice="Jeseník" webidStanice="307427"/>
    <stanice nazevStanice="Vidnava" webidStanice="37680559"/>
    <stanice nazevStanice="Zlaté Hory" webidStanice="26331433"/>
    <stanice nazevStanice="Luká" webidStanice="307442"/>
    <stanice nazevStanice="Štíty " webidStanice="37680417"/>
    <stanice nazevStanice="Paprsek" webidStanice="20706783"/>
  </kraj>
  <kraj nazevKraje="Jihočeský kraj" webidKraje="3561">
    <stanice nazevStanice="Tisovka - Ktiš" webidStanice="307406"/>
    <stanice nazevStanice="Třeboň - Lužnice" webidStanice="20710570"/>
    <stanice nazevStanice="Paseky" webidStanice="20971870"/>
    <stanice nazevStanice="Bernartice" webidStanice="32119615"/>
    <stanice nazevStanice="Husinec" webidStanice="307472"/>
    <stanice nazevStanice="Byňov" webidStanice="307409"/>
    <stanice nazevStanice="Kestřany" webidStanice="32119675"/>
    <stanice nazevStanice="Kocelovice" webidStanice="307474"/>
    <stanice nazevStanice="Bechyně" webidStanice="24803631"/>
    <stanice nazevStanice="Nadějkov - Větrov" webidStanice="307412"/>
    <stanice nazevStanice="Strmilov" webidStanice="20710598"/>
    <stanice nazevStanice="České Budějovice, pobočka ČHMÚ" webidStanice="20971874"/>
    <stanice nazevStanice="Tábor - Náchod" webidStanice="307411"/>
    <stanice nazevStanice="Strakonice" webidStanice="22230714"/>
    <stanice nazevStanice="Lenora - Houžná" webidStanice="20688989"/>
    <stanice nazevStanice="Temelín" webidStanice="307473"/>
    <stanice nazevStanice="Vimperk" webidStanice="20710595"/>
    <stanice nazevStanice="Vyšší Brod" webidStanice="307405"/>
    <stanice nazevStanice="Mladá Vožice" webidStanice="10053456"/>
    <stanice nazevStanice="Hlasivo" webidStanice="20709976"/>
    <stanice nazevStanice="Černá v Pošumaví" webidStanice="307404"/>
    <stanice nazevStanice="Trhové Sviny" webidStanice="20710576"/>
    <stanice nazevStanice="Volyně - Nihošovice" webidStanice="20710011"/>
    <stanice nazevStanice="Orlík nad Vltavou" webidStanice="35817274"/>
    <stanice nazevStanice="Churáňov" webidStanice="307416"/>
    <stanice nazevStanice="Borová Lada" webidStanice="32212955"/>
    <stanice nazevStanice="Vráž u P." webidStanice="307475"/>
    <stanice nazevStanice="Sedlice" webidStanice="32119635"/>
    <stanice nazevStanice="Pohorská Ves - Terčí Dvůr" webidStanice="307408"/>
    <stanice nazevStanice="Staré Hutě (okr. Č.Budějovice)" webidStanice="32324215"/>
    <stanice nazevStanice="Borkovice" webidStanice="20710612"/>
    <stanice nazevStanice="Plechý" webidStanice="36454010"/>
    <stanice nazevStanice="Netřebice" webidStanice="36535755"/>
    <stanice nazevStanice="Nová Bystřice" webidStanice="20710573"/>
    <stanice nazevStanice="Český Krumlov - Přísečná" webidStanice="20710014"/>
    <stanice nazevStanice="Křemže, Mříč" webidStanice="20971861"/>
    <stanice nazevStanice="Hluboká nad Vltavou" webidStanice="26847395"/>
    <stanice nazevStanice="Jindřichův Hradec - Děbolín" webidStanice="307410"/>
    <stanice nazevStanice="Chelčice" webidStanice="36535712"/>
    <stanice nazevStanice="Chlum u Třeboně" webidStanice="24803293"/>
    <stanice nazevStanice="Český Rudolec" webidStanice="20063611"/>
  </kraj>
  <kraj nazevKraje="Vysočina" webidKraje="13600">
    <stanice nazevStanice="Kostelní Myslová" webidStanice="307450"/>
    <stanice nazevStanice="Vatín" webidStanice="307465"/>
    <stanice nazevStanice="Moravské Budějovice" webidStanice="20816215"/>
    <stanice nazevStanice="Přibyslav" webidStanice="307477"/>
    <stanice nazevStanice="Velké Meziříčí" webidStanice="307466"/>
    <stanice nazevStanice="Vysoké Studnice" webidStanice="20063635"/>
    <stanice nazevStanice="Pacov" webidStanice="37122625"/>
    <stanice nazevStanice="Nová Ves" webidStanice="20719736"/>
    <stanice nazevStanice="Košetice" webidStanice="307481"/>
    <stanice nazevStanice="Radostín" webidStanice="20063626"/>
    <stanice nazevStanice="Libice nad Doubravou" webidStanice="2659097"/>
    <stanice nazevStanice="Náměšť nad Oslavou" webidStanice="26767276"/>
    <stanice nazevStanice="Habry" webidStanice="37122673"/>
    <stanice nazevStanice="Jemnice" webidStanice="36536237"/>
    <stanice nazevStanice="Havlíčkův Brod" webidStanice="20628317"/>
    <stanice nazevStanice="Brtnice" webidStanice="36536062"/>
    <stanice nazevStanice="Hubenov" webidStanice="20706127"/>
    <stanice nazevStanice="Černovice - Dobešov" webidStanice="20710609"/>
    <stanice nazevStanice="Třešť" webidStanice="20063629"/>
    <stanice nazevStanice="Kadov" webidStanice="307455"/>
    <stanice nazevStanice="Kamenice nad Lipou - Vodná" webidStanice="20710550"/>
    <stanice nazevStanice="Štoky" webidStanice="10053449"/>
    <stanice nazevStanice="Jihlava, Hruškové Dvory" webidStanice="26582343"/>
    <stanice nazevStanice="Bystřice nad Pernštejnem" webidStanice="27140785"/>
    <stanice nazevStanice="Třebíč" webidStanice="20706130"/>
    <stanice nazevStanice="Humpolec" webidStanice="307479"/>
    <stanice nazevStanice="Nové Město na Moravě" webidStanice="20063617"/>
    <stanice nazevStanice="Velká Bíteš" webidStanice="20063632"/>
    <stanice nazevStanice="Sedlec" webidStanice="307467"/>
    <stanice nazevStanice="Dukovany" webidStanice="307464"/>
    <stanice nazevStanice="Stržanov " webidStanice="307476"/>
    <stanice nazevStanice="Počátky" webidStanice="28459453"/>
  </kraj>
  <kraj nazevKraje="Středočeský kraj" webidKraje="222">
    <stanice nazevStanice="Čáslav, Nové město" webidStanice="22258282"/>
    <stanice nazevStanice="Radovesnice II" webidStanice="2659107"/>
    <stanice nazevStanice="Lány" webidStanice="10053443"/>
    <stanice nazevStanice="Husinec, Řež" webidStanice="10053447"/>
    <stanice nazevStanice="Veleň, PČOV Miškovice (HMP)" webidStanice="31503843"/>
    <stanice nazevStanice="Kounov" webidStanice="20186005"/>
    <stanice nazevStanice="Kamýk" webidStanice="20185998"/>
    <stanice nazevStanice="Hulice" webidStanice="20861726"/>
    <stanice nazevStanice="Průhonice" webidStanice="20628314"/>
    <stanice nazevStanice="Netvořice" webidStanice="25492752"/>
    <stanice nazevStanice="Slaný" webidStanice="20185995"/>
    <stanice nazevStanice="Hvozdec, Mrtník" webidStanice="35817161"/>
    <stanice nazevStanice="Brandýs nad Labem" webidStanice="20628286"/>
    <stanice nazevStanice="Nedrahovice, Rudolec" webidStanice="10053441"/>
    <stanice nazevStanice="Dolní Bousov" webidStanice="37813817"/>
    <stanice nazevStanice="Vavřinec, Žíšov" webidStanice="20861720"/>
    <stanice nazevStanice="Katusice" webidStanice="37304096"/>
    <stanice nazevStanice="Semčice" webidStanice="10053437"/>
    <stanice nazevStanice="Příbram" webidStanice="10053445"/>
    <stanice nazevStanice="Bahno" webidStanice="2659001"/>
    <stanice nazevStanice="Káraný" webidStanice="20243321"/>
    <stanice nazevStanice="Heřmanov" webidStanice="20792779"/>
    <stanice nazevStanice="Poděbrady" webidStanice="307398"/>
    <stanice nazevStanice="Karlova Ves" webidStanice="32147458"/>
    <stanice nazevStanice="Mšeno" webidStanice="32685835"/>
    <stanice nazevStanice="Konárovice" webidStanice="2659117"/>
    <stanice nazevStanice="Kostomlaty nad Labem" webidStanice="37303957"/>
    <stanice nazevStanice="Mrzky" webidStanice="26964114"/>
    <stanice nazevStanice="Rožmitál pod Třemšínem" webidStanice="20709987"/>
    <stanice nazevStanice="Voznice" webidStanice="26299840"/>
    <stanice nazevStanice="Zlonice" webidStanice="27549881"/>
    <stanice nazevStanice="Svatý Jan" webidStanice="26896307"/>
    <stanice nazevStanice="Dymokury" webidStanice="2659115"/>
    <stanice nazevStanice="Dobřichovice" webidStanice="20861717"/>
    <stanice nazevStanice="Tuhaň" webidStanice="22754834"/>
    <stanice nazevStanice="Ondřejov" webidStanice="10052388"/>
    <stanice nazevStanice="Horoměřice (HMP)" webidStanice="31502715"/>
    <stanice nazevStanice="Březnice" webidStanice="32213075"/>
    <stanice nazevStanice="Vlašim" webidStanice="26964117"/>
    <stanice nazevStanice="Boseň, Mužský" webidStanice="27549876"/>
    <stanice nazevStanice="Neumětely" webidStanice="10053427"/>
    <stanice nazevStanice="Kralupy nad Vltavou" webidStanice="24803272"/>
  </kraj>
  <kraj nazevKraje="Moravskoslezský kraj" webidKraje="19268">
    <stanice nazevStanice="Světlá Hora" webidStanice="307420"/>
    <stanice nazevStanice="Mořkov" webidStanice="26331471"/>
    <stanice nazevStanice="Lučina" webidStanice="307423"/>
    <stanice nazevStanice="Ropice" webidStanice="20738738"/>
    <stanice nazevStanice="Karviná, Staré Město" webidStanice="20858344"/>
    <stanice nazevStanice="Rýmařov" webidStanice="24928106"/>
    <stanice nazevStanice="Frýdek-Místek, Místek" webidStanice="28977895"/>
    <stanice nazevStanice="Bělotín" webidStanice="307513"/>
    <stanice nazevStanice="Nýdek, Filipka" webidStanice="37680628"/>
    <stanice nazevStanice="Frenštát pod Radhoštěm" webidStanice="20706836"/>
    <stanice nazevStanice="Bílá, Konečná" webidStanice="20706833"/>
    <stanice nazevStanice="Ostrava-Poruba" webidStanice="307418"/>
    <stanice nazevStanice="Karlova Studánka" webidStanice="24803732"/>
    <stanice nazevStanice="Bohumín, Záblatí" webidStanice="20858337"/>
    <stanice nazevStanice="Lysá hora" webidStanice="307422"/>
    <stanice nazevStanice="Opava, Otice" webidStanice="307421"/>
    <stanice nazevStanice="Město Albrechtice, Žáry" webidStanice="26331413"/>
    <stanice nazevStanice="Jablunkov, Návsí" webidStanice="22869763"/>
    <stanice nazevStanice="Horní Lomná" webidStanice="37618559"/>
    <stanice nazevStanice="Slezská Ostrava" webidStanice="20749495"/>
    <stanice nazevStanice="Osoblaha" webidStanice="20738735"/>
    <stanice nazevStanice="Červená u L." webidStanice="307512"/>
    <stanice nazevStanice="Lomnice" webidStanice="20706704"/>
    <stanice nazevStanice="Mošnov" webidStanice="307417"/>
    <stanice nazevStanice="Vítkov" webidStanice="22869733"/>
    <stanice nazevStanice="Krnov" webidStanice="20919922"/>
    <stanice nazevStanice="Lichnov" webidStanice="307419"/>
    <stanice nazevStanice="Chuchelná" webidStanice="37680603"/>
    <stanice nazevStanice="Slezská Harta" webidStanice="26331012"/>
    <stanice nazevStanice="Hladké Životice" webidStanice="33904013"/>
  </kraj>
  <kraj nazevKraje="Karlovarský kraj" webidKraje="7823">
    <stanice nazevStanice="Aš" webidStanice="22861126"/>
    <stanice nazevStanice=" Bečov nad Teplou" webidStanice="33922294"/>
    <stanice nazevStanice="Abertamy" webidStanice="33922251"/>
    <stanice nazevStanice="Cheb" webidStanice="307499"/>
    <stanice nazevStanice="Luby" webidStanice="36570725"/>
    <stanice nazevStanice="Žlutice" webidStanice="33922246"/>
    <stanice nazevStanice="Dyleň" webidStanice="20792693"/>
    <stanice nazevStanice="Klínovec" webidStanice="20792696"/>
    <stanice nazevStanice="Sokolov" webidStanice="36570598"/>
    <stanice nazevStanice="Šindelová (Obora)" webidStanice="307500"/>
    <stanice nazevStanice="Přebuz" webidStanice="36570649"/>
    <stanice nazevStanice="Stráž nad Ohří" webidStanice="32927174"/>
    <stanice nazevStanice="Mariánské Lázně - vodárna" webidStanice="307484"/>
    <stanice nazevStanice="Krásné Údolí" webidStanice="20719125"/>
    <stanice nazevStanice="Karlovy Vary" webidStanice="307502"/>
  </kraj>
  <kraj nazevKraje="Liberecký kraj" webidKraje="10077">
    <stanice nazevStanice="Lomnice nad Popelkou" webidStanice="10053458"/>
    <stanice nazevStanice="Nové Město pod Smrkem" webidStanice="20311949"/>
    <stanice nazevStanice="Vysoké nad Jizerou" webidStanice="10053454"/>
    <stanice nazevStanice="Mimoň" webidStanice="20311931"/>
    <stanice nazevStanice="Jizerka - Lasičí cesta" webidStanice="33001810"/>
    <stanice nazevStanice="Višňová" webidStanice="20311946"/>
    <stanice nazevStanice="Bedřichov - Olivetská hora" webidStanice="20888340"/>
    <stanice nazevStanice="Holenice" webidStanice="20379900"/>
    <stanice nazevStanice="Křižany" webidStanice="20311905"/>
    <stanice nazevStanice="Mařenice" webidStanice="20311928"/>
    <stanice nazevStanice="Kristiánov - Kamenice" webidStanice="37340318"/>
    <stanice nazevStanice="Jablonec nad Nisou" webidStanice="26299492"/>
    <stanice nazevStanice="Harrachov" webidStanice="23191202"/>
    <stanice nazevStanice="Český Dub, Modlibohov" webidStanice="10053451"/>
    <stanice nazevStanice="Jizerka - Jizerská cesta" webidStanice="33001655"/>
    <stanice nazevStanice="Dvoračky " webidStanice="307401"/>
    <stanice nazevStanice="Bedřichov - Tomšovka" webidStanice="33001615"/>
    <stanice nazevStanice="Bedřichov - přehrada" webidStanice="20018508"/>
    <stanice nazevStanice="Josefův Důl" webidStanice="27121384"/>
    <stanice nazevStanice="Smědava - Knajpa" webidStanice="20149417"/>
    <stanice nazevStanice="Nový Bor" webidStanice="20311937"/>
    <stanice nazevStanice="Bedřichov - Blatný rybník" webidStanice="37340327"/>
    <stanice nazevStanice="Nová Louka " webidStanice="307402"/>
    <stanice nazevStanice="Frýdlant" webidStanice="29955670"/>
    <stanice nazevStanice="Smědava - U Jeřábu" webidStanice="20149414"/>
    <stanice nazevStanice="Hejnice" webidStanice="307429"/>
    <stanice nazevStanice="Jablonné v Podještědí" webidStanice="307510"/>
    <stanice nazevStanice="Smědava - klimatická stanice" webidStanice="27979289"/>
    <stanice nazevStanice="Liberec" webidStanice="307428"/>
    <stanice nazevStanice="Stráž pod Ralskem" webidStanice="20311902"/>
    <stanice nazevStanice="Chrastava" webidStanice="27549887"/>
    <stanice nazevStanice="Zahrádky" webidStanice="20311943"/>
    <stanice nazevStanice="Desná, Souš" webidStanice="10053433"/>
    <stanice nazevStanice="Chotyně" webidStanice="37303340"/>
    <stanice nazevStanice="Bílý potok - Polední kameny" webidStanice="20888674"/>
    <stanice nazevStanice="Doksy" webidStanice="307511"/>
    <stanice nazevStanice="Jezdecká" webidStanice="20757820"/>
    <stanice nazevStanice="Smědava - Kasárenská cesta" webidStanice="33001635"/>
    <stanice nazevStanice="Jizerka - klimatická stanice" webidStanice="307399"/>
    <stanice nazevStanice="Turnov" webidStanice="28914914"/>
    <stanice nazevStanice="Studenec" webidStanice="20214435"/>
    <stanice nazevStanice="Česká Lípa" webidStanice="20018511"/>
  </kraj>
  <kraj nazevKraje="Ústecký kraj" webidKraje="8607">
    <stanice nazevStanice="Klíny" webidStanice="32936375"/>
    <stanice nazevStanice="Strojetice" webidStanice="21108057"/>
    <stanice nazevStanice="Milešov" webidStanice="27678795"/>
    <stanice nazevStanice="Kopisty" webidStanice="307507"/>
    <stanice nazevStanice="Milešovka" webidStanice="307506"/>
    <stanice nazevStanice="Tisá" webidStanice="20186002"/>
    <stanice nazevStanice="Tokáň" webidStanice="20719059"/>
    <stanice nazevStanice="Varnsdorf" webidStanice="20311899"/>
    <stanice nazevStanice="Straškov-Vodochody" webidStanice="32927035"/>
    <stanice nazevStanice="Žatec" webidStanice="2539992"/>
    <stanice nazevStanice="Měděnec" webidStanice="20719055"/>
    <stanice nazevStanice="Petrovice, Krásný Les" webidStanice="37303618"/>
    <stanice nazevStanice="Smolnice" webidStanice="307504"/>
    <stanice nazevStanice="Verneřice" webidStanice="20311940"/>
    <stanice nazevStanice="Hrob, Křižanov" webidStanice="24845176"/>
    <stanice nazevStanice="Tušimice" webidStanice="20311893"/>
    <stanice nazevStanice="Doksany" webidStanice="307505"/>
    <stanice nazevStanice="Sněžník" webidStanice="27668385"/>
    <stanice nazevStanice="Děčín" webidStanice="27668096"/>
    <stanice nazevStanice="Ústí nad Labem, Vaňov" webidStanice="20884313"/>
    <stanice nazevStanice="Nová Ves v Horách" webidStanice="20311896"/>
    <stanice nazevStanice="Ústí n. L.-Kočkov" webidStanice="307509"/>
    <stanice nazevStanice="Mašťov" webidStanice="26212672"/>
    <stanice nazevStanice="Teplice" webidStanice="307508"/>
  </kraj>
  <kraj nazevKraje="Královéhradecký kraj" webidKraje="10838">
    <stanice nazevStanice="Úpice" webidStanice="307380"/>
    <stanice nazevStanice="Pomezní boudy, Horní Malá Úpa" webidStanice="307379"/>
    <stanice nazevStanice="Rychnov nad Kněžnou" webidStanice="307386"/>
    <stanice nazevStanice="Vrchlabí" webidStanice="2659111"/>
    <stanice nazevStanice="Holovousy" webidStanice="20639735"/>
    <stanice nazevStanice="Broumov" webidStanice="307425"/>
    <stanice nazevStanice="Labská bouda" webidStanice="307377"/>
    <stanice nazevStanice="Trutnov, ZŠ Komenského" webidStanice="27121377"/>
    <stanice nazevStanice="Slatiny, Milíčeves" webidStanice="27189623"/>
    <stanice nazevStanice="Luční bouda" webidStanice="20293175"/>
    <stanice nazevStanice="Pec pod Sněžkou" webidStanice="307378"/>
    <stanice nazevStanice="Police nad Metují" webidStanice="2659105"/>
    <stanice nazevStanice="Slatina nad Zdobnicí" webidStanice="307384"/>
    <stanice nazevStanice="Adršpach - Horní Adršpach" webidStanice="307381"/>
    <stanice nazevStanice="Svobodné Dvory" webidStanice="307389"/>
    <stanice nazevStanice="Zdobnice" webidStanice="2659113"/>
    <stanice nazevStanice="Lázně Bělohrad" webidStanice="20711233"/>
    <stanice nazevStanice="Rokytnice v Orlic.horách" webidStanice="307383"/>
    <stanice nazevStanice="Borohrádek" webidStanice="20905769"/>
    <stanice nazevStanice="Jičín" webidStanice="307397"/>
    <stanice nazevStanice="Nový Bydžov" webidStanice="2659103"/>
    <stanice nazevStanice="Olešnice v Orl. horách" webidStanice="20639875"/>
    <stanice nazevStanice="Horní Maršov" webidStanice="2659091"/>
    <stanice nazevStanice="Velichovky" webidStanice="307382"/>
    <stanice nazevStanice="České Meziříčí" webidStanice="20639883"/>
    <stanice nazevStanice="Luisino údolí, Deštné v Orl. horách" webidStanice="27289729"/>
    <stanice nazevStanice="Deštné v Orlic. horách" webidStanice="307385"/>
    <stanice nazevStanice="Černý Důl" webidStanice="2659085"/>
    <stanice nazevStanice="Hradec Králové" webidStanice="307390"/>
  </kraj>
  <kraj nazevKraje="Plzeňský kraj" webidKraje="5865">
    <stanice nazevStanice="Konstantinovy Lázně" webidStanice="307487"/>
    <stanice nazevStanice="Filipova Huť" webidStanice="307414"/>
    <stanice nazevStanice="Tachov" webidStanice="307483"/>
    <stanice nazevStanice="Železná Ruda" webidStanice="307430"/>
    <stanice nazevStanice="Plzeň-Bolevec" webidStanice="307492"/>
    <stanice nazevStanice="Stříbro" webidStanice="25219042"/>
    <stanice nazevStanice="Prášily" webidStanice="307415"/>
    <stanice nazevStanice="Úlice" webidStanice="32147475"/>
    <stanice nazevStanice="Staňkov" webidStanice="307488"/>
    <stanice nazevStanice="Česká Kubice" webidStanice="2724223"/>
    <stanice nazevStanice="Rokycany" webidStanice="2721597"/>
    <stanice nazevStanice="Trpísty" webidStanice="20166350"/>
    <stanice nazevStanice="Přimda" webidStanice="307485"/>
    <stanice nazevStanice="Kašperské Hory" webidStanice="20971858"/>
    <stanice nazevStanice="Terešov" webidStanice="2721595"/>
    <stanice nazevStanice="Radošice" webidStanice="32213055"/>
    <stanice nazevStanice="Strašín" webidStanice="20709999"/>
    <stanice nazevStanice="Planá" webidStanice="33922300"/>
    <stanice nazevStanice="Borovno, Míšov" webidStanice="2724203"/>
    <stanice nazevStanice="Staré Sedlo, Darmyšl" webidStanice="26212312"/>
    <stanice nazevStanice="Nezvěstice" webidStanice="26212272"/>
    <stanice nazevStanice="Domažlice" webidStanice="22755192"/>
    <stanice nazevStanice="Chudenice" webidStanice="26210472"/>
    <stanice nazevStanice="Bezvěrov" webidStanice="307486"/>
    <stanice nazevStanice="Liblín" webidStanice="26212332"/>
    <stanice nazevStanice="Čachrov" webidStanice="307489"/>
    <stanice nazevStanice="Strašice" webidStanice="32147455"/>
    <stanice nazevStanice="Nepomuk" webidStanice="307493"/>
    <stanice nazevStanice="Stod" webidStanice="36570925"/>
    <stanice nazevStanice="Klatovy" webidStanice="307490"/>
    <stanice nazevStanice="Zámyšl" webidStanice="32212995"/>
    <stanice nazevStanice="Lovčice, Kvasetice" webidStanice="20864703"/>
    <stanice nazevStanice="Horšovský Týn" webidStanice="26210492"/>
    <stanice nazevStanice="Chanovice" webidStanice="32213035"/>
    <stanice nazevStanice="Železná Ruda - Hojsova Stráž" webidStanice="2724205"/>
    <stanice nazevStanice="Plzeň - Mikulka" webidStanice="307491"/>
    <stanice nazevStanice="Kralovice" webidStanice="307495"/>
  </kraj>
  <kraj nazevKraje="Zlínský kraj" webidKraje="18481">
    <stanice nazevStanice="Maruška" webidStanice="20706695"/>
    <stanice nazevStanice="Horní Bečva" webidStanice="20706813"/>
    <stanice nazevStanice="Valašské Meziříčí" webidStanice="307441"/>
    <stanice nazevStanice="Holešov" webidStanice="307446"/>
    <stanice nazevStanice="Vsetín" webidStanice="307439"/>
    <stanice nazevStanice="Vizovice" webidStanice="307447"/>
    <stanice nazevStanice="Horní Lhota" webidStanice="20706142"/>
    <stanice nazevStanice="Staré Město" webidStanice="307448"/>
    <stanice nazevStanice="Huslenky" webidStanice="307438"/>
    <stanice nazevStanice="Štítná nad Vláří - Popov" webidStanice="307470"/>
    <stanice nazevStanice="Strání" webidStanice="307471"/>
    <stanice nazevStanice="Bojkovice" webidStanice="26847391"/>
    <stanice nazevStanice="Kateřinice" webidStanice="34948068"/>
    <stanice nazevStanice="Bystřice pod Hostýnem" webidStanice="28643475"/>
    <stanice nazevStanice="Hluk" webidStanice="36536505"/>
    <stanice nazevStanice="Valašská Senice" webidStanice="24928159"/>
    <stanice nazevStanice="Valašská Bystřice" webidStanice="307440"/>
    <stanice nazevStanice="Luhačovice, Kladná-Žilín" webidStanice="20816218"/>
    <stanice nazevStanice="Kroměříž" webidStanice="307445"/>
    <stanice nazevStanice="Staré Hutě (okr. Uh.Hradiště)" webidStanice="26846395"/>
    <stanice nazevStanice="Hošťálková" webidStanice="23612742"/>
  </kraj>
  <kraj nazevKraje="Hlavní město Praha" webidKraje="4">
    <stanice nazevStanice="Praha, Michle (HMP)" webidStanice="31503460"/>
    <stanice nazevStanice="Praha, Libeň (HMP)" webidStanice="31503452"/>
    <stanice nazevStanice="Praha, Břevnov (HMP)" webidStanice="31502361"/>
    <stanice nazevStanice="Praha, Radotín (HMP)" webidStanice="31503075"/>
    <stanice nazevStanice="Praha, Stodůlky (HMP)" webidStanice="31502353"/>
    <stanice nazevStanice="Praha, Dubeč (HMP)" webidStanice="31503484"/>
    <stanice nazevStanice="Praha, Střešovice (HMP)" webidStanice="31502706"/>
    <stanice nazevStanice="Praha, Klementinum" webidStanice="23612746"/>
    <stanice nazevStanice="Praha, Horní Počernice (HMP)" webidStanice="31503719"/>
    <stanice nazevStanice="Praha, Břevnov" webidStanice="27549884"/>
    <stanice nazevStanice="Praha, Karlov (HMP)" webidStanice="31503441"/>
    <stanice nazevStanice="Praha, Modřany sever II (HMP)" webidStanice="31503466"/>
    <stanice nazevStanice="Praha, Libuš" webidStanice="307496"/>
    <stanice nazevStanice="Praha, Kbely" webidStanice="307403"/>
    <stanice nazevStanice="Praha, Řepy (HMP)" webidStanice="31502334"/>
    <stanice nazevStanice="Praha, Běchovice (HMP)" webidStanice="31503846"/>
    <stanice nazevStanice="Praha, Jinonice (HMP)" webidStanice="31502356"/>
    <stanice nazevStanice="Praha, Ruzyně" webidStanice="307498"/>
    <stanice nazevStanice="Praha, Chodov (HMP)" webidStanice="31503472"/>
    <stanice nazevStanice="Praha, Kyje (HMP)" webidStanice="31503066"/>
    <stanice nazevStanice="Praha, Hlubočepy (HMP)" webidStanice="31502719"/>
    <stanice nazevStanice="Praha, Bubeneč (HMP)" webidStanice="31503479"/>
    <stanice nazevStanice="Praha, Vinohrady (HMP)" webidStanice="31503449"/>
    <stanice nazevStanice="Praha, Žižkov (HMP)" webidStanice="31503463"/>
    <stanice nazevStanice="Praha, Horní Měcholupy (HMP)" webidStanice="31503476"/>
    <stanice nazevStanice="Praha, Ďáblice (HMP)" webidStanice="31503149"/>
    <stanice nazevStanice="Praha, Karlov" webidStanice="307497"/>
  </kraj>
  <kraj nazevKraje="Jihomoravský kraj" webidKraje="15679">
    <stanice nazevStanice="Strážnice" webidStanice="307449"/>
    <stanice nazevStanice="Brno-Tuřany" webidStanice="307463"/>
    <stanice nazevStanice="Nemochovice" webidStanice="307462"/>
    <stanice nazevStanice="Dolní Věstonice" webidStanice="307468"/>
    <stanice nazevStanice="Troubsko" webidStanice="20706133"/>
    <stanice nazevStanice="Ivanovice na Hané" webidStanice="20706136"/>
    <stanice nazevStanice="Brno-Žabovřesky" webidStanice="307459"/>
    <stanice nazevStanice="Obora" webidStanice="36586699"/>
    <stanice nazevStanice="Olešnice" webidStanice="26817853"/>
    <stanice nazevStanice="Lednice" webidStanice="22257619"/>
    <stanice nazevStanice="Brod nad Dyjí" webidStanice="307453"/>
    <stanice nazevStanice="Ždánice" webidStanice="36536684"/>
    <stanice nazevStanice="Pohořelice" webidStanice="22230653"/>
    <stanice nazevStanice="Kuchařovice" webidStanice="307451"/>
    <stanice nazevStanice="Bukovinka" webidStanice="20706146"/>
    <stanice nazevStanice="Kobylí" webidStanice="20426615"/>
    <stanice nazevStanice="Tišnov, Hájek" webidStanice="20816221"/>
    <stanice nazevStanice="Dyjákovice" webidStanice="307452"/>
  </kraj>
  <kraj nazevKraje="Pardubický kraj" webidKraje="12303">
    <stanice nazevStanice="Ústí n. O." webidStanice="307388"/>
    <stanice nazevStanice="Skuteč" webidStanice="2659109"/>
    <stanice nazevStanice="Hradec nad Svitavou" webidStanice="20063614"/>
    <stanice nazevStanice="Hrochův Týnec" webidStanice="20905772"/>
    <stanice nazevStanice="Lubná" webidStanice="2659099"/>
    <stanice nazevStanice="Nové Hrady" webidStanice="2659101"/>
    <stanice nazevStanice="Jevíčko" webidStanice="307435"/>
    <stanice nazevStanice="Červená Voda" webidStanice="20706724"/>
    <stanice nazevStanice="Lanškroun" webidStanice="20706777"/>
    <stanice nazevStanice="Dolní Morava, Slaměnka" webidStanice="21702817"/>
    <stanice nazevStanice="Svratouch" webidStanice="307454"/>
    <stanice nazevStanice="Janov-Gajer" webidStanice="307392"/>
    <stanice nazevStanice="Hrušová" webidStanice="27979643"/>
    <stanice nazevStanice="Třebařov" webidStanice="20858347"/>
    <stanice nazevStanice="Mokošín" webidStanice="307395"/>
    <stanice nazevStanice="Králíky" webidStanice="307387"/>
    <stanice nazevStanice="Seč" webidStanice="307393"/>
    <stanice nazevStanice="Choceň" webidStanice="20639888"/>
    <stanice nazevStanice="Nedvězí" webidStanice="307456"/>
    <stanice nazevStanice="Žamberk" webidStanice="20711230"/>
  </kraj>
</seznamStanic>
